{% extends 'base.html'%}

{% block head %}
    {% endblock %}


{% block  content %}
<h1> Find the weather in any city</h1>


<form class='search-box' action="" method="post">
  <p>
 	 <input class="input-search" type="text" placeholder="What city are you searching for ?">
  </p>
</form>


{% endblock %}




{% block script %}
<script>
    $(document).ready(function(){
  $('.input-search').focus(function(){
    $(this).parent().addClass('expanded');
  });

  $('.input-search').blur(function(){
    	$(this).parent().removeClass('expanded');
  });
})


</script>

{% endblock %}