{% extends 'base.html'%}

{% block head %}
    {% endblock %}


{% block  content %}
<h1> Find the weather in any city</h1>


<form class='search-box' action="" method="post">
  <p>
 	 <input class="input-search" name="city_name" type="text" placeholder="What city are you searching for ?" value="{% if data %}{{ data.name }}{% endif %}">
  </p>
</form>

{% if data %}
<div> <h1>{{ data.name }}'s currently experiencing {{ data.weather[0].description }}</h1> </div>
<div> Current Temperature: {{ data.main.temp }} ℉</div>
<div>24 hour high: {{ data.main.temp_max }} ℉ </div>
<div>24 hour low: {{ data.main[2] }} ℉ </div>
<div></div>
{% endif %}

{% endblock %}




{% block script %}

<script>

    $(document).ready(function(){
  $('.input-search').focus(function(){
    $(this).parent().addClass('expanded');
  });

  $('.input-search').blur(function(){
    	$(this).parent().removeClass('expanded');
  });
})


</script>

{% endblock %}